@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
}
.bottom-shadow {
	box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}
.button-shadow {
	box-shadow: 0px 4px 0px 0px rgba(47, 188, 124, 1);
}
.form-shadow {
	box-shadow: 0px 8px 0px 0px rgba(219, 103, 101, 1);
}
